<h1>Login plz</h1>

<form id="loginForm">
  <label class="block mar-b-1">Email</label>
  <input name="email" type="text" tabindex="1"
    class="block w-100 no-outline no-border pad-1 mar-b-2">
  <br> <br>
  <label class="block mar-b-1">Password</label>
  <input name="password" type="password" tabindex="2"
    class="block w-100 no-outline no-border pad-1 mar-b-2">
  <br> <br>
  <input type="submit" value="Login" tabindex="3"
    class="block button w-100 mar-t-4 mar-b-3 pad-2 round-1 text-c center no-border no-outline">
</form>
