<form class="appl" action="/application" method="POST">
<div class="mb-3">
    <label  for="exampleInputEmail1" class="form-label">Имя</label>
    <input name="name" type="text" class="form-control"  aria-describedby="emailHelp">
  </div>
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Номинация</label>
    <input name="nomination" type="text" class="form-control" aria-describedby="emailHelp">
  </div>
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Возрастная категория</label>
    <input name="agecategory" type="text" class="form-control" aria-describedby="emailHelp">
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">ФИО наставника проекта</label>
    <input name="teacherName" type="text" class="form-control" >
  </div>
   <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Контактный телефон наставника</label>
    <input name="teacherPhone" type="text" class="form-control"  aria-describedby="emailHelp">
  </div>
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Страница наставника в социальных сетях</label>
    <input name="teacherLink" type="text" class="form-control"  aria-describedby="emailHelp">
  </div>
   <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Страница участника в социальных сетях</label>
    <input name="userlink" type="text" class="form-control"  aria-describedby="emailHelp">
  </div>
   <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Страна</label>
    <input name="country" type="text" class="form-control"  aria-describedby="emailHelp">
  </div>
   <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Индекс</label>
    <input name="index" type="text" class="form-control"  aria-describedby="emailHelp">
  </div>
   <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Субъект Российской Федерации</label>
    <input name="region" type="text" class="form-control"  aria-describedby="emailHelp">
  </div>
     <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Адрес</label>
    <input name="adress" type="text" class="form-control"  aria-describedby="emailHelp">
  </div>
     <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Учебное заведение</label>
    <input name="educationPlace" type="text" class="form-control"  aria-describedby="emailHelp">
  </div>
       <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Ссылка на работу</label>
    <input name="workLink" type="text" class="form-control"  aria-describedby="emailHelp">
  </div>
  <button type="submit" class="btn btn-primary">Отправить</button>
</form>