    <div class="bg-forest">
      <div class="wrap">
        
        <hr class="hr hr-header h1">
  
        <main class="main">
          <h1 class="main__title">Расскажи миру о своей Родине!</h1>
          <a href="/application"><button class="main__btn" type="submit">Оставить заявку</button></a>
        </main>
        <hr class="hr hr-2">
      </div>
    </div>

    <div class="bg-white">
      <section class="about-us">
        <h2 class="about-us__title">О нас</h2>
        <div class="about-us__body">
          <p class="about-us__text"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi repudiandae possimus saepe debitis et perspiciatis, perferendis optio veniam. Nobis quis deserunt vel omnis quasi ipsa sit necessitatibus dignissimos placeat modi?</p>
          <div class="about-us__img">
            IMG
          </div>
        </div>
      </section>
    </div>

    <div class="bg-gray">
      <section class="contest">
        <h2 class="contest-header">Выбери конкурс</h2>
        <input type="search" id="site-search" name="i-search" placeholder="Найти...">
        <ul class="contest__list">
          <div class="li-div__box">
            <li>Имя участника</li>
            <div class="reg__div-btn small-btn">
              <button class="btn-reg" type="submit" name="reg-btn">Оставить заявку</button>
            </div>
          </div>          
          <div class="li-div__box">
            <li>Имя участника</li>
            <div class="reg__div-btn small-btn">
              <button class="btn-reg" type="submit" name="reg-btn">Оставить заявку</button>
            </div>
          </div>
          <div class="li-div__box">
            <li>Имя участника</li>
            <div class="reg__div-btn small-btn">
              <button class="btn-reg" type="submit" name="reg-btn">Оставить заявку</button>
            </div>
          </div>
        </ul>
      </section>
    </div>
     
     {{!-- <div class="bg-white">
      <div class="works__request" id="works__request">
        В этом месте  отображаются работы участников<br>
      </div>
     </div>  --}}

     <div class="bg-footer">
      
     </div>
