<div class="bg-14">
  <div class="wrap">
  <hr class="hr hr-header">

  <main class="main-reg">
    <form class="registration-form" action="" method="POST">
      <div class="reg-header">Регистрация</div>
      <div class="reg-body">
        <div class="reg-list">
          <input class="reg-field" name="name" type="text" placeholder="Имя" required>
          <input class="reg-field" name="birthdate" type="date" placeholder="Дата рождения" required>
          <input class="reg-field" name="email" type="email" placeholder="Email" required>
          <input class="reg-field" name="password" type="password" placeholder="Пароль" required>  
          <input class="reg-field" name="city" type="text" placeholder="Город" required>
        </div>
        <div class="reg__div-btn">
          <button class="btn-reg" type="submit" name="reg-btn">Зарегистрироваться</button>
        </div>
      </div>
    </form>
  </main>
  </div>
</div>
