<footer class="footer">
  <hr class="hr hr-footer">
  <h2 class="footer__title">Контакты</h2>
  <div class="contacts">
    <div class="phone">7(499)755-91-18</div>
    <div class="social">
      <div><a href=""><img src="./img/facebook.svg" alt="" width="30px"></a></div>
      <div><a href=""><img src="./img/vk.svg" alt="" width="30px"></a></div>
      <div><a href=""><img src="./img/instagram.svg" alt="" width="30px"></a></div>
      <div><a href=""><img src="./img/youtube.svg" alt="" width="30px"></a></div>
    </div>
    <div class="mail">dpo.aior@gmail.com</div>
  </div>
</footer>
